{% extends "base.html" %}

{% load static %}  <!-- Cargar archivos estáticos -->

{% block title %} Página de inicio {% endblock %}

{% block contenido %}



<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Poppins:wght@600&display=swap" rel="stylesheet">

<div class="card">

  <div class="jumbotron text-center" style="background-color: #ffffff; color: #2c3e50;"> 

    <h1 class="display-3" style="font-family: 'Roboto Slab', serif; font-size: 2.5rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); color: #3498db;">
        Ingresar responsable    </h1>

    </div>

    <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
            {% csrf_token %}
            <div class="form-group">
                <label for="documento">Documento</label>
                <input type="number" name="documento" id="documento" class="form-control" placeholder="" aria-describedby="helpId" required>
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="" aria-describedby="helpId" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellidos</label>
                <input type="text" name="apellido" id="apellido" class="form-control" placeholder="" aria-describedby="helpId" required>
            </div>
            <div class="form-group">
                <label for="correo">Correo</label>
                <input type="email" name="correo" id="correo" class="form-control" placeholder="" aria-describedby="helpId" required>
            </div>
            
            <br><br>
            <button type="submit" class="btn btn-primary">Crear</button>
            <a class="btn btn-danger" href="{% url 'responsable' %}" role="button">Cancelar</a>
        </form>
    </div>
   
</div>

<div class="mt-4 text-center"> 
    <a href="{% url 'responsable' %}" class="btn btn-primary">Volver</a> 
  </div> 

<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel">Atención</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Por favor, complete todos los campos antes de crear un nuevo responsable.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div> 



<script>
function validateForm() {
    var documento = document.getElementById("documento").value;
    var nombre = document.getElementById("nombre").value;
    var apellido = document.getElementById("apellido").value;
    var correo = document.getElementById("correo").value;

    // Verifica que todos los campos estén llenos
    if (documento === "" || nombre === "" || apellido === "" || correo === "") {
        var alertModal = new bootstrap.Modal(document.getElementById('alertModal'));
        alertModal.show();
        return false; 
    }

    return true; 
}
</script>

{% endblock %}
