{% extends "base.html" %}

{% load static %}  <!-- Cargar archivos estáticos -->

{% block title %} Página de inicio {% endblock %}

{% block contenido %}

<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Poppins:wght@600&display=swap" rel="stylesheet">

<div class="card">

  <div class="jumbotron text-center" style="background-color: #ffffff; color: #2c3e50;"> 

    <h1 class="display-3" style="font-family: 'Roboto Slab', serif; font-size: 2.5rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); color: #3498db;">
        Lista de responsables   </h1>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Documento</th>
                    <th>Nombre Completo</th>
                    <th>Correo Electronico</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for Asignado in Responsables %}
                <tr>
                    <td>{{Asignado.id}}</td>
                    <td>{{Asignado.documento}}</td>
                    <td>{{Asignado.nombre}} {{Asignado.apellido}}</td>
                    <td>{{Asignado.correo}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a class="btn btn-primary me-2" href="{% url 'editarResponsable' Asignado.id %}" role="button">Editar</a>
                            <a class="btn btn-danger me-2" href="{% url 'borrarResponsable' Asignado.id %}" role="button">Borrar</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-4 text-center"> 
        <a href="{% url 'responsable' %}" class="btn btn-primary">Volver</a> 
      </div> 
    
</div>
</div>

{% endblock %}
