{% extends "base.html" %}

{% block title %} Lista de equipos {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
         Lista de Equipos del área biomedica
    </div>

{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container-fluid mt-4">
  <div class="row">
    {% for equipo in equipos %}
      {% if equipo.Area == 'Biomédica' %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-header">
              {{ equipo.Nombre }}
            </div>
            <div class="card-body">
              <img class="card-img-top mb-3" src="{% if equipo.imagen %}{{ equipo.imagen.url }}{% else %}{% static 'images/default_image.jpg' %}{% endif %}" alt="Imagen de {{ equipo.Nombre }}">
              <h5 class="card-title">{{ equipo.Nombre }}</h5>
              <p class="card-text">
                <strong>Marca:</strong> {{ equipo.Marca }}<br>
                <strong>Modelo:</strong> {{ equipo.Modelo }}<br>
                <strong>Serial:</strong> {{ equipo.Serial }}<br>
                <strong>Área:</strong> {{ equipo.Area }}<br>
                <!--<strong>Responsable:</strong> {{ equipo.Responsable }}<br>-->
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>ID:</strong> {{ equipo.id }}</li>
            </ul>
            <div class="card-body">
              <a href="{% url 'editar' equipo.id %}" class="btn btn-info btn-sm">Editar</a>
              <a href="{% url 'borrar' equipo.id %}" class="btn btn-danger btn-sm">Borrar</a>
            </div>
            <div class="card-footer">Pie de página</div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="mt-4 text-center"> 
  <a href="{% url 'Equipos' %}" class="btn btn-primary">Volver a la página principal</a> 
</div> 
</div>

{% endblock %}



