{% extends "base.html" %}

{% block title %} Editar equipo {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
         Editar equipo
    </div>

    <div class="card-body">

      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="InputNombre">Nombre</label>
            <input type="text" name="Nombre" id="InputNombre" class="form-control" placeholder="" aria-describedby="helpId" value="{{ formEquipo.Nombre.value }}">
        </div>
        
        <div class="form-group">
            <label for="InputMarca">Marca</label>
            <input type="text" name="Marca" id="InputMarca" class="form-control" placeholder="" aria-describedby="helpId" value="{{ formEquipo.Marca.value }}">
        </div>
        
        <div class="form-group">
            <label for="InputModelo">Modelo</label>
            <input type="text" name="Modelo" id="InputModelo" class="form-control" placeholder="" aria-describedby="helpId" value="{{ formEquipo.Modelo.value }}">
        </div>
    
        <div class="form-group">
            <label for="InputSerial">Serial</label>
            <input type="text" name="Serial" id="InputSerial" class="form-control" placeholder="" aria-describedby="helpId" value="{{ formEquipo.Serial.value }}">
        </div>
    
        <div class="form-group">
            <label for="InputArea">Área</label>
            <select name="Area" id="InputArea" class="form-select" aria-describedby="helpId">
                <option selected disabled>Seleccione...</option>
                <option value="Biomedica" {% if formEquipo.Area.value == "Biomedica" %}selected{% endif %}>Biomedica</option>
                <option value="Infraestructura" {% if formEquipo.Area.value == "Infraestructura" %}selected{% endif %}>Infraestructura</option>
                <option value="Sistemas" {% if formEquipo.Area.value == "Sistemas" %}selected{% endif %}>Sistemas</option>
            </select>
        </div>
        
      
        <div class="col-md-5">
          <label for="InputResponsable" class="form-label">Responsable</label>
          <select name="Responsable" id="InputResponsable" class="form-select" required aria-describedby="helpId">
              <option selected disabled>Seleccione...</option>
              {% for Asignado in Responsables %}
              <option value="{{ Asignado.id }}" {% if Asignado.id == responsable_actual %}selected{% endif %}>
                  {{ Asignado.nombre }} {{ Asignado.apellido }}
              </option>
              {% endfor %}
          </select>

          <div class="form-group">
            <label for="">Imagen</label>
            <input type="file" name="imagen" id="imagen" class="form-control" >
          </div>
          
          {{ form.as_p }}
      </div>
      
    
        <br><br>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a class="btn btn-danger" href="{% url 'Equipos' %}" role="button">Cancelar</a>
    </form>
    
        
 </div>
</div>

{% endblock %}
