{% extends "base.html" %}

{% block title %} Lista de equipos {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
         Secciones por área
        
    </div>

{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .card-hover:hover .card-text {
        display: block;
    }
    .card-text {
        display: none;
    }
</style>

<div class="container-fluid mt-4">
  <div class="row">
    <!-- Tarjeta para Área de Infraestructura -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover" style="cursor: pointer;"onclick="location.href='{% url 'Infraestructura' %}'">
        <div class="card-header">
          Área de Infraestructura
        </div>
        <div class="card-body">
          <img class="card-img-top mb-3" src="../../imagenes/infraestructura.png" alt="Área de Infraestructura">
          <h5 class="card-title">Área de Infraestructura</h5>
          <p class="card-text">
           Elementos estructurales y de soporte correspondientes a diferentes espacios dentro de la IPS.
          </p>
        </div>
      </div>
    </div>
    <!-- Tarjeta para Área de Sistemas -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover" style="cursor: pointer;"onclick="location.href='{% url 'Sistemas' %}'">
        <div class="card-header">
          Área de Sistemas
        </div>
        <div class="card-body">
          <img class="card-img-top mb-3" src="../../imagenes/sistemas.png" alt="Área de Sistemas">
          <h5 class="card-title">Área de Sistemas</h5>
          <p class="card-text">
            Recursos tecnológicos y de comunicación que facilitan la gestión de la información clínica y operativa dentro de la institución.
          </p>
        </div>
      </div>
    </div>
    <!-- Tarjeta para Área Biomédica -->
    <div class="col-md-4 mb-4">
      <div class="card card-hover" style="cursor: pointer;"onclick="location.href='{% url 'Biomedica' %}'">
        <div class="card-header">
          Área Biomédica
        </div>
        <div class="card-body">
          <img class="card-img-top mb-3" src="../../imagenes/biomedica.png" alt="Área Biomédica">
          <h5 class="card-title">Área Biomédica</h5>
          <p class="card-text">
            Gestión de los activos tecnológicos relacionados con el diagnóstico y tratamiento de pacientes.
          </p>
        </div>
      </div>
    </div>
    <div class="mt-4 text-center"> 
      <a href="{% url 'inicio' %}" class="btn btn-primary">Volver</a> 
    </div>
  </div>

  

{% endblock %}



